.modal-body {
    margin-top: 10px;
    height: 85vh;
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-green);
    width: 60vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 10;
}

.modal-header {
    font-size: 3rem;
    top: 0;
    left: 0;

    margin-top: 10px;
    margin-left: 10px;
}

.modal-exit {
    top: 0;
    right: 0;
    position: absolute;
    margin: 10px;
    cursor: pointer;
    border: 2px solid red;
    background-color: var(--light-green);
    color: red;
    font-size: 20px;
}

.modal-exit:hover {
    background-color: red;
    color: white;
}

.modaltxt-wrap {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.modal-text {
    font-size: 2rem;
    top: 0;
    left: 0;

    word-wrap: inherit;
    display: block;
}

.text-input-minor {
    background-color: var(--lightest-gray);
    border-radius: 10px;
    font-size: 1rem;
    font-family: "Fira Code";
}

.text-input-major {
    background-color: var(--lightest-gray);
    border-radius: 10px;
    font-size: 2rem;
    font-family: "Fira Code";
}

.small-plus {
    border-radius: 5px;
    background-color: var(--dark-green);
    border: black;
    font-size: 1.4rem;
    color: white;
    margin-right: 10px;
}

.small-plus:hover {
    cursor: pointer;
    background-color: var(--green)
}

.tag {
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Fira Code";
}

.tag:hover {
    cursor: pointer;
}

.warning-text {
    font-family: "Fira Code";
    font-size: 1.2rem;
    margin-left: 4vw;
    margin-right: 4vw;
}

.input-button {
    font-family: "Fira Code";
    font-size: 2rem;
    background-color: var(--lightest-gray);
    border-radius: 10px;
    margin-right: 15vw;
}

.input-button:hover {
    cursor: pointer;
    background-color: var(--lighter-gray)
}

.modal-centered {
    margin-left: 15vw;
}

.location-link {
    border: none;
    text-decoration: underline;
    background-color: var(--light-green);
    font-size: 1.8rem;
}

.location-link:hover {
    cursor: pointer;
    color: var(--dark-green);
}

.location-template {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.location-template:hover {
    cursor: pointer;
}