.back-button {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-width: 90px;
    height: 34px;
    margin-top: 7px;
    margin-left: 15px;
    margin-bottom: 16px;
    cursor: pointer;

    color: var(--dark-gray);


    font-family: "Fira Code";
    font-weight: 700;
    font-style: normal;
    font-size: 100%;


    background: none;
    border: none;

    padding: 0px;
    border-radius: 10px;
}

.back-button:hover {
    text-decoration: underline;
}