@import "SearchBar.css";

.thumbnail {
    width: max(15vw, 200px);
    height: 25vh;
    padding: 0;
    margin: 20px 15px;
    overflow: hidden;
}

.nav-page {
    /* padding: 50px; */
    padding: 4vh 5vw 0 5vw;
}

.nav-area {
    flex-wrap: wrap;
}

/* Add Note */

.add-note {
    background-color: var(--lightest-gray);
    border-radius: 11px;
}

.plus {
    width: 100%;
    margin: 0 auto;
}
/* clickable part of Add Note */
.add-click {
    width: max(15vw, 200px);
    height: 25vh;
    padding: 0;
    margin: 20px 15px;
    cursor: pointer;
    position: absolute;
    opacity: 0;
}


/* Folders */

.tab {
    background-color: var(--light-gray);
    height: 20%;
    width: 30%;
    border-radius: 11px;
    /* margin-bottom: -10%; */
}

.folder {
    background-color: var(--folder-yellow);
    height: 90%;
    margin-top: -7%;
    border-radius: 11px;
}

.folder-name {
    margin: 0;
    text-align: center;
    padding: 25% 0;
    font-family: "Fira Code";
    font-size: 1.1rem;
}

.folder-link {
    background: transparent;
    border: none !important;
    position: absolute;
    cursor: pointer;
}

/* Notes */

.thumbnail-body {
    background-color: var(--lightest-gray);
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    margin: 0;
    height: 80%;
    overflow: hidden;
    padding: 14px 17px;
}

/* TO-DO: adjust spacing */
.thumbnail-text {
    margin: 0;
    color: var(--dark-gray);
    white-space: wrap;
    overflow: hidden;
    max-height: 5rem;
    text-decoration: none;
}

.thumbnail-label {
    background-color: var(--light-gray);
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    margin: 0;
    overflow: hidden;
    height: 20%;
}

.thumbnail-title {
    margin: 2px 17px;
    font-size: 1.1rem;
}

/* Used for clickable part of link on thumbnails */
/* added the transform part since the link element was changed to a button */
/* Continue to make slight adjustments, doesn't really matter too much though */
/* Due to this, since the regular note links are still Links instead of notes,
    they will appear slightly off when hovering. They will eventually get changed
    to buttons as well. */
.thumbnail-click {
    position: absolute;
    overflow: visible;
    opacity: 0;
    width: max(15vw, 200px);
    height: 25vh;
    padding: 0;
    margin: 20px 15px;
    transform: translate(-6px, 0px);
}

/* Create pop-up backdrop */
/* Creates the darkened effect behind the pop-up */
.backdrop {
    min-height: calc(100vh - 55px);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 55px;
    background-color: black;
    opacity: 0.5;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.backdrop input {
    opacity: 0;
}


/* general dropdown css
    usable anywhere */
.dropdown-wrap {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
  }

  .dropdown-wrap:hover .dropdown-content {
    display: block;
  }
  /* end of general dropdown css */
