
/* sets up background for home page */
.home {
    background-color: var(--light-green);
    background-size: cover;
    text-align: center;
}

/* defines the background smile image */
.smile-bg {
    background-image: url('../../assets/smileLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* Centers the text and start notes button */
.centText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Styles for the start notes button */
.start {
    font-size: 2.5rem;
    color: var(--offbase-white);
    padding: 15px 25px; 
    text-decoration: none;
    background-color: var(--darker-green);
    border-radius: 25px;
    box-shadow: 5px 5px 0px var(--green);
}

/* Styles for the start notes button when hovered */
.start:hover {
    background-color: var(--dark-green);
    border-radius: 30px;
    color: var(--offbase-white);
}

/* Styles for the Clean. Simple. Code. */
.cText {
    font-size: 6rem;
    color: var(--dark-green);
}

/* Change size when screen is smaller */
@media only screen and (max-width: 800px) {
    .cText {
        font-size: 12vw;
    }
}
