/*Green Background*/
.profile-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-green);
    height: 100vh;
  }

/* white box background */
.bg-box {
    margin-top: 50px;
    width: 95%;
    height: 85%;
    top: 50px;
    background-color: var(--offbase-white);
    border-radius: 5px;
}

/* User related container */
.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 350px;
    margin: 20px;
    padding: 70px;

    font-family: "Fira Code";
}

/* display name */
.name {
    color: #201F1F;
    font-weight: 500;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    margin-top: 8px;
}

/* username */
.user {
    color:#3C8478;
    margin: 0px;
}

/* old:  */
.pfp-icon {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

/* #image {
    position: relative;
    width: 205px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#img {
    height: 100%;
    width: 100%;
} */

.bio-box {
    width: 250px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #EDE7E7;
    margin: 20px;

    /* for the text within */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #201F1F;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
    text-align: center;
}

#edit-profile-button {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Fira Code";
    font-size: 1rem;
    background-color: var(--lightest-gray);
    border-color: var(--green);
    padding: 2px;
    border-radius: 7px;
}

#edit-profile-button:hover {
    cursor: pointer;
    background-color: var(--green);
}


/* Notes and Templates */
.right-container {
    position: absolute;
    top: 70px;
    left: 350px;

    display: flex;
    flex-direction: column;
    align-items: left;
    height: 500px;
    width: 500px;
    margin: 20px;
    padding: 50px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

.notes-box {
    width: 200px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #EDE7E7;
    margin: 0px;

    /* for the text within */
    display: flex;
    justify-content:left;
    align-items:baseline;
    color: #201F1F;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px;
}

/* create grid for tags,  */
.tags {
    /* text */
    color:#3C8478;
    margin-top: 30px;
}