@import "./components/navbar/Navbar.css";
@import "./components/file-navigation/Navigation.css";
@import "./pages/home/Home.css";
@import "./components/personal/TemplateToggleButton.css";
@import "./pages/auth-pages/auth.css";
@import "./components/editor/TextEditor.css";
@import "./pages/about-us/about-us.css";
@import "./pages/profile/profile.css";

/*General*/

:root {
    /*Color variables*/
    --light-green: #C7DAC4;
    --green: #94BDAB;
    --dark-green: #3C8478;
    --darker-green: #1E5B5E;
    --folder-yellow: #F2EFA6;
    --offbase-white: #fdfdfd;
    --lightest-gray: #EDE7E7;
    --lighter-gray: #E8DDDD;
    --light-gray: #D4CBC2;
    --medium-gray: #A9A9A9;
    --dark-gray: #313638; 
    --offbase-black: #161616;
    ;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*With back-up fonts*/
    font-family: 'Fira Code', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page {
    margin-top: 55px;
    min-height: calc(100vh - 55px);
    width: 100%;
}

.green-background {
    background-color: var(--light-green);
}

.gray-background {
    background-color: var(--light-gray);
}

.flex {
    display: flex;
}

.flex-hor {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

h1 {
    color: var(--dark-gray);
    font-family: "Fira Code";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.link {
    text-decoration: inherit;
    color: inherit;
}
