@import "Navigation.css";

/*General*/

:root {
    --light-green: #C7DAC4;
    --green: #94BDAB;
    --dark-green: #3C8478;
    --darker-green: #1E5B5E;
    --gray: #D4CBC2;
    --offbase-white: #fdfdfd;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /*With back-up fonts*/
    font-family: 'Fira Code', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
