



.home {
    background-color: #c7dac4;
    height: 100vh;
    background-size: cover;
}

.smile {
    height: 115vh;
    width: auto;
    object-position: none;
    display: block;
    margin: 0 auto;
}