.display-window {
    max-height: calc(100vh - 55px);
    background-color: var(--light-gray);
    overflow-wrap: break-word;
    width: auto;
    flex-grow: 2;

    padding: 25px;

    background-color: var(--offbase-white);
    overflow: auto;

    border-radius: 10px;
}

#main-area {
    display: flex;
    padding: 15px;
    gap: 15px;
}
