.thumbnail {
    width: max(15vw, 200px);
    height: 25vh;
    padding: 0;
    margin: 15px;
    overflow: hidden;
}

.nav-page {
    /* padding: 50px; */
    padding: 4vh 5vw 0 5vw;
}

.nav-area {
    flex-wrap: wrap;
}

/* Search Bar */

.search-icon {
    width: 1.7vw;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.search-text {
    background: none;
    border: none;
    width: 80%;
    font-family: "Fira Code";
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--dark-gray);
}

.search-text::placeholder {
    color: var(--medium-gray);
}

.search-text:focus {
    outline: none;
}

.search-bar {
    background-color: var(--lightest-gray);
    border-radius: 32px;
    padding: 0.3rem;
    margin-top: 1vh;
    margin-bottom: 4vh;
}

/* Add Note */

.add-note {
    background-color: var(--lightest-gray);
    border-radius: 11px;
}

.plus {
    width: 100%;
    margin: 0 auto;
}


/* Folders */

.tab {
    background-color: var(--light-gray);
    height: 20%;
    width: 30%;
    border-radius: 11px;
    /* margin-bottom: -10%; */
}

.folder {
    background-color: var(--folder-yellow);
    height: 90%;
    margin-top: -7%;
    border-radius: 11px;
}

.folder-name {
    margin: 0;
    text-align: center;
    padding: 25% 0;
    font-family: "Fira Code";
    font-size: 1.1rem;
}

/* Notes */

.thumbnail-body {
    background-color: var(--lightest-gray);
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    margin: 0;
    height: 80%;
    overflow: hidden;
    padding: 10px 17px;
}

/* TO-DO: adjust spacing */
.thumbnail-text {
    margin: 0;
    color: var(--dark-gray);
}

.thumbnail-label {
    background-color: var(--light-gray);
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    margin: 0;
    overflow: hidden;
    height: 20%;
}

.thumbnail-title {
    margin: 2px 17px;
    font-family: "Fira Code";
    font-size: 1.1rem;
}
