.ide {
    height: calc(100vh - 105px);
    width: 35%;
    border: 1.5px solid var(--dark-gray);
    border-radius: 8.5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* margin: 25px 5px; */
}


/* Code Editor */
.code-editor {
    flex-grow: 1;
}

.editor-wrapper, .monaco-editor, .overflow-guard { 
    
}

/* Input and Output */
.in-output {
    display: flex;
    height: 35%
}

/* Output Window */
.ide-output-full {
    width: 60%;
    border-bottom: 0.3px var(--dark-gray) solid;
}

.ide-output-h1 {
    font-size: 14px;
    height: 5%;
    background-color: white;
    padding-top: 5px;
    padding-left: 10px;
    margin: 0;
}

.ide-output-window {
    background-color: white;
    margin: 0;
    padding: 10px;
    height: 95%;
    overflow: auto;
}



.ide-err {
    color: red;
}

.ide-output {
}

/* Custom Input */
.ide-input {
    height: 100%;
    width: 40%;
    resize: none;
    border-left: 0.6px var(--dark-gray) solid;
    border-bottom: 0.3px var(--dark-gray) solid;
    border-top: 0;
    padding: 10px;
    padding-top: 5px;
    margin: 0;
}

.ide-input:focus {
    outline: none
}

/* Footer */
.ide-footer {
    display: flex;
    margin: 0;
    height: 6%;
    /* overflow: hidden; */
}

.ide-btn {
    border-radius: 0;
    border: 0.3px var(--dark-gray) solid;
    border-bottom: 0;
    background-color: var(--light-green);
    font-family: 'Amiko';
}

.half-width {
    width: 50%;
}

.third-width {
    width: 33.33%;
}

.compile-btn {
    border-left: 0;
}

.ide-btn:disabled, .ide-btn:hover:disabled {
    background-color: lightgray;
}

.close-btn {
    border-bottom-right-radius: 6.5px;
    background-color: pink;
    border-right: 0;
}

.ide-btn:hover {
    background-color: var(--green);
}

.close-btn:hover {
    background-color: #f19cad;
}
