.ide {
    height: calc(100vh - 105px);
    width: 35%;
    border: 1.5px solid var(--dark-gray);
    border-radius: 8.5px;
    /* margin: 25px 5px; */
}


/* Code Editor */
.code-editor {
    height: 45%;
    border-top-left-radius: 7px;
}

.editor-wrapper, .monaco-editor, .overflow-guard { 
    border-top-left-radius: 7px;
}

/* Footer */
.ide-footer {
    display: flex;
    margin: 0;
}

.ide-dropdown {
}

.compile-btn {
    width: 12%;
    border-bottom-left-radius: 7px;
    border: 0;
}

/* Output Window */
.ide-output-h1 {
    font-size: 14px;
    height: 5%;
    background-color: white;
    padding-top: 5px;
    padding-left: 10px;
    margin: 0;
    border-top-right-radius: 7px;
}

.ide-output-window {
    height: 25%;
    background-color: white;
    margin: 0;
    padding: 10px;
}



.ide-err {
    color: red;
}

.ide-output {

}

/* Custom Input */
.ide-input {
    height: 15%;
    width: 100%;
    resize: none;
    border-bottom-right-radius: 7px;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    padding: 10px;
}
