.home {
    background-color: var(--light-green);
    background-size: cover;

     /* position: relative;  */
}

.smile {
    height: 115vh;
    width: auto;
    object-position: none;
    display: block;
    margin: 0 auto;
    margin-left: 20vh;
}

.centText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.start {
    font-size: 3rem;
    color: var(--offbase-white);
    padding: 10px 10px; 
    text-decoration: none;
    background-color: var(--darker-green);
    border-radius: 30px;
    box-shadow: 5px 5px 5px var(--green);
}

.start:hover {
    background-color: var(--dark-green);
    border-radius: 30px;
    color: var(--offbase-white);
}

.cText {
    font-size: 6rem;
    color: var(--dark-green);
}