/*Background*/
.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-green);
    height: 100vh;
  }

.white-box {
    /*
    display: flex;
    justify-content: center;
    align-items: center;\*/
    margin-top: 50px;
    width: 95%;
    height: 85%;
    top: 50px;
    background-color: var(--offbase-white);
    border-radius: 15px;
}

.profile-icon {
    width: 150px;
    height: 150px;
    position:absolute;
    margin-top: 30px;
    margin-left: 35px;
}

.bio-box {
    width: 250px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 36px;
    background: #EDE7E7;

    position:absolute;
    margin-top: 240px;
    margin-left: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-text {
    width: 286px;
    height: 112px;
    flex-shrink: 0;
    color: #201F1F;
    text-align: center;
    font-family: "Fira Code";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}