.authfield {
    appearance: none;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
}

.authfield:hover {
    background-color: var(--lightest-gray);
}

.authform {
    margin-bottom: 20px;
}

.authlink {
    padding: 0px;
    color: black;
    position: block;
}

.authlink:hover {
    color: blue;
}

.authsubmit {
    margin: 10px;
    border-style: none;
    font-size: 1.2rem;
    border-radius: 10px;
}

.errorX {
    border-radius: 100%;
    padding: 0px;
    margin: 11px;
    z-index: 13;
    cursor: pointer;
}

.errorbox {
    background-color: red;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 11;
    border-radius: 0px;
}

.errortext {
    z-index: 13;
    font-size: 1.3rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 13%;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.errorwrap {
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    z-index: 12;
}

.error-drop {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    z-index: 11;
}

.prof-img {
    height: 40vh;
    margin-bottom: 30px;
    cursor: pointer;
}

.logout-popup {
    height: 30vh;
    margin-top: 10px;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--green);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}