/* Binary tree in the background */
#tree-bg {
    background-image: url("../../assets/binary-tree-about-us.svg");
    background-repeat: no-repeat;
    background-position: 45vw 20px;
    background-size: contain;
}

/* Dimensions for github and linkedin logos */
#github {
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
    margin-left: 4px;
}

#linkedin {
    height: 23px;
    vertical-align: middle;
    margin-left: 4px;
}

/* Text Boxes */
.text-box {
    background-color: var(--lightest-gray);
    border-radius: 40px;
    /* padding: 10px 25px; */
}

.text-box-title {
    color: var(--offbase-white);
    font-size: 20px;
    text-align: center;
    background-color: var(--green);
    padding: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.text-box-body {
    margin: 10px 25px;
    padding-bottom: 15px;
}

/* Text boxes - specific size + positioning */
#mission {
    width: 450px;
    height: 260px;
    margin-top: 70px;
    margin-left: calc(45vw + 50px - 450px);
}

#team {
    width: min(520px, 90vw);
    margin-left: calc(45vw + 295px - 520px);
    margin-top: 60px;
    margin-bottom: 55px;
}

/* Screen size adjustments */
@media only screen and (max-width: 900px) {
    #mission {
        width: 50vw;
        margin-left: 5vw;
        height: auto;
    }

    #team {
        margin-left: auto;
        margin-right: auto;
    }
}
